*.pyc
*.pyo
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
build
downloads/*
eggs/*
fake-eggs/*
parts/*
develop-eggs
dist
include/
lib/
local/
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.LCK
*.lck
*~
*.bak
.coverage
*.pyd
*.so
*.orig
*.rej
__minitage__*
.metadata
.secret.cfg
.settings
.project
.pydevproject
flattened-eggs

jsdoc*
releases

.DS_Store
docs/apidocs/*

*.min.js
*.min.css
*.debug.css
*.db
files
bin
picked.cfg
src
pip.log
source/reference_manuals/external/*

buildout-cache/downloads/*
buildout-cache/eggs/*

source/_generated/*
var

# Don't commit symbolic links
source/_static/contributors.css
source/_static/contributors.js
source/_static/transparency.min.js

