*.pyc
*.pyo
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
build
downloads/*
eggs/*
fake-eggs/*
parts/*
develop-eggs
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.LCK
*.lck
*~
*.bak
.coverage
*.pyd 
*.so
*.orig
*.rej
__minitage__*
.metadata
.secret.cfg
.settings
.project
.pydevproject
flattened-eggs

jsdoc*
releases

.DS_Store
docs/apidocs/*

*.min.js
*.min.css
*.debug.css
*.db
files

echo-nest-remix

daddy.*
megaman2.*
celine.*

*.jar
jsduck
watchdog

yuicompressor-*

bin
picked.cfg
src
