#
# developer.plone.org docs deployment
#
[buildout]

extends =
    buildout.cfg

parts +=
    crontab

# Run the github poller now and then
[crontab]
recipe = z3c.recipe.usercrontab
times = @reboot
command = cd ${buildout:directory} && ./doc-holliday.sh

